<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="ShoppingApp">
  <head>
    <meta charset="utf-8">
    <title>Custom Service</title>
    <script src="../angular.min.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
  </head>
  <body >
      <h2>Custom Service</h2>
      <div ng-controller="ItemController as ItemAdder">
         <input type="text" ng-model="ItemAdder.itemName"  placeholder="Item Name">
         <input type="text" ng-model="ItemAdder.itemQuantity"  placeholder="Item Quantity">
         <button ng-click="ItemAdder.addItem();">Add Item</button>
       </div>
       <div ng-controller="CartController as CartItems">
          <div>
            <ol ng-repeat="item in CartItems.items">
              <li>{{item.itemName}} of quantity {{item.itemQuantity}}</li>
            </ol>
          </div>
      </div>
  </body>
</html>
